<template>
  <div v-if="analyzer != null">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-active-energy stats-headmap">
          <div class="panel-heading">
            <span class="header-text">Energy Heatmap</span>
            <div class="header-buttons clearfix">
              <color-bar :width="140" :height="10" :range="Range" units="Wh"></color-bar>
              <toolbar-aggregation storage="HeatmapAggreg" :options="['15M', '1H']" v-model="Aggreg"></toolbar-aggregation>
              <toolbar-years :analyzer="analyzer" v-model="Year" aggreg="15M" storage="StatsYear"></toolbar-years>
              <div class="btn-group">
                <button-export file="Heatmap" :rows="Export"></button-export>
              </div>
            </div>
          </div>
          <div class="panel-body" style="min-height: 300px">
            <spinner v-if="ShowSpinner" :progress="Progress"></spinner>
            <heatmap-table :data="Data" :aggreg="Aggreg" :analyzer="analyzer" :range.sync="Range" @update:export="ExportData=$event"></heatmap-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="analyzer == null">
    <div class="alert alert-danger text-center">
      <p>No selected analyzer</p>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import * as oZm from 'JS/openZmeter.js';
  import HeatmapTable from './HeatmapTable.vue';
  export default {
    props: { analyzer: Object },
    data: function() {
      return { Aggreg: '1H', Range: [0, 1], Data: null, Year: 0, ShowSpinner: true, Progress: 0, ExportData: null };
    },
    watch: {
      Year: function() { this.Update(); },
      analyzer: function() { this.Update(); }
    },
    methods: {
      Update: function() {
        this.ShowSpinner = true;
        this.Progress = 0;
        this.Data = null;
        var Count = 0;
        var Blocks = [];
        if((this.Year == null) || (this.analyzer == null)) return;
        var GetMonth = (month) => {
          var To = moment.tz(this.analyzer.TimeZone).year(this.Year).month(month).endOf('month').valueOf();
          var From = moment.tz(this.analyzer.TimeZone).year(this.Year).month(month).startOf('month').valueOf();
          this.Post('getSeries', { From: From, To: To, Aggreg: '15M', Series: ['Active_Energy'], Analyzer: this.analyzer.Analyzer }).then(
            (result) => {
              Blocks[month] = (month == 0) ? result : result.slice(1);
              Count++;
              this.Progress = (Count / 12.0) * 100.0;
              if(Count == 12) {
                var Data = [];
                for(var n = 0; n < Count; n++) Data = Data.concat(Blocks[n]);
                this.Data = Object.seal(Data);
                this.ShowSpinner = false;
              }
            },
            (fail) => {}
          );
        };
        for(var month = 0; month < 12; month++) GetMonth(month);
      },
      Export: function() {
        return this.ExportData;
      }
    },
    components: { HeatmapTable }
  }
</script>

<style>
  .stats-headmap .header-text {
    font-size: 20px;
    line-height: 24px;
  }
</style>